.hero {
  background:
    linear-gradient(
      to bottom,
      rgba(48, 49, 69, 0.9),
      rgba(58, 61, 92, 0.9)
    ),
    url('./assets/images/bg-pattern-circles.svg') no-repeat bottom center;

  background-size: 900px;
}

/* DESKTOP */
@media (min-width: 1024px) {
  .hero {
    background-position:
      center,
      left -150px bottom -150px;
  }
}
